p {
  font-size: var(--font-size-base);
  &.normal {}

  &.ellipsis {
    /* Limits the length of uploaded file names to the width of the field */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}