.form-post {
  form, .success {
    display: flex;
    flex-direction: column;
    gap: 50px;

    img {
      max-width: 290px;
    }

    h1 {
      text-align: center;
    }

    .submit {
      display: flex;
      justify-content: center;
    }
  }

  form {
    align-items: stretch;
  }

  .success {
    align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}