input[type="radio"] {
  accent-color: var(--secondary-color);
}

.radio-box {
  display: flex;
  flex-direction: column;
  gap: 11px;

  div {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  label {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

.MuiButtonBase-root {
  padding: 0!important;
}