@import "Cards.variables.css";

.cards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--cards-space-between-elements);

  @media only screen and (max-width: 920px) {
    justify-content: space-evenly;
  }

  .card {
    width: var(--card-width);
    display: flex;
    flex-direction: column;
    gap: var(--card-padding);
    padding: var(--card-padding);
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: white;

    img {
      border-radius: 100%;
    }

    .bio {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--card-padding);

      .contact {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .pagination {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}

.users-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  button {
    width: 120px;
  }
}