:root {
    --header-height: 60px;
    --header-background: white;
    --header-space-between-buttons: 10px;
    --header-padding: 0;
}

@media only screen and (max-width: 1024px) {
    :root {
        --header-padding: 0 49px;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --header-padding: 0 24px;
    }
}