@import "Header.variables.css";

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 10;
  width: 100%;
  background-color: var(--header-background);
  padding: var(--header-padding);
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--page-width);
    height: var(--header-height);
  }

  .buttons {
    display: flex;
    gap: var(--header-space-between-buttons);
  }
}