@import "InputText.variables.css";

.input-text {
  position: relative;

  input {
    padding: var(--input-text-padding);
    border-radius: var(--input-text-border-radius);
    border: var(--input-text-border-width) solid var(--input-text-background);
    width: 100%;
    min-width: var(--input-text-width);
    font-size: var(--font-size-base);
    font-family: var(--font-family-normal);

    &:focus {
      outline: none;
    }
  }

  label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: var(--input-text-label-margin);
    padding-inline: var(--input-text-label-padding);
    background: var(--light-grey-color);
    color: var(--input-text-background);
    border-radius: 100px; // To improve the appearance of field autofill, which often changes the background color
    pointer-events: none; // makes the label unclickable
    transition: top 0.2s ease, font-size 0.2s ease;
  }

  &.focused {
    label {
      top: 0;
      font-size: var(--input-text-label-margin);
    }
  }
}